@import "tailwindcss";

body {
  background-color: #000;
  color: #fff;
}

@layer components {
  .btn {
    @apply flex justify-center items-center;
    @apply px-4 py-2  rounded;
    @apply cursor-pointer;
  }

  .btn-primary {
    @apply bg-green-600 text-white hover:bg-green-700;
  }

  .btn-secondary {
    @apply bg-zinc-600 text-white hover:bg-zinc-700;
  }

  .btn-danger {
    @apply bg-red-600 text-white hover:bg-red-700;
  }
}
